*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(89, 90, 106);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(151, 127, 127);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width:600px;
}

h1{
    font-size: 2rem;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: start;
}
.user-input-container{
    display:flex;
    justify-content: space-between;

}

#user-input{
    width: 70%;
    padding: 0.4rem;
    border-radius: 5px;
}

#search-button{
    padding: 0.4rem;
    border-radius: 5px;
}

.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid rgb(17, 167, 17);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    columns: white;
    font-weight: 700;
    background: conic-gradient(#299f5d var(--progress-degree,0%),rgb(10, 91, 40) 0%);
}
.circle span{
    position: relative;
    z-index: 2;
}

.progress{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}
